@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::before,
::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #2f303a;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	color: white;
	min-height: 100vh;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
	flex-grow: 1;
}
.full-height-grow {
	display: flex;
	flex-direction: column;
}
.brand-logo {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	color: inherit;
	text-decoration: none;
}
.brand-logo-name {
	margin-left: 1rem;
}
.main-nav ul,
.footer-nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.main-nav a,
.footer-nav a {
	color: inherit;
	text-decoration: none;
	padding: 1rem;
}
.main-nav a:hover,
.footer-nav a:hover {
	color: #adadad;
}
.main-header,
.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-header {
	height: 140px;
}
.main-footer {
	height: 70px;
	background-color: #202027;
	font-weight: bold;
}
.main-footer .container {
	display: flex;
	justify-content: space-between;
}
.title {
	font-weight: 500;
	font-size: 3rem;
	margin-bottom: 1rem;
	margin-top: 0;
}
.subtitle {
	font-weight: 500;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}
.btn {
	color: white;
	background-color: #08197a;
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
	font-size: 0.9rem;
	outline: none;
	border: none;
	cursor: pointer;
}
.btn:hover {
	background-color: lightskyblue;
}
.btn:focus {
	background-color: aqua;
}
.social-link img {
	width: 1em;
	margin-right: 0.25em;
}
